In [1]:
#import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
#import collections

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1350,tt0398375,70000000,88933562,Rumor Has It...,Jennifer Aniston|Kevin Costner|Shirley MacLain...,Rob Reiner,Based on a true rumor.,Sarah Huttinger's return home with her fiance ...,97,Comedy,Village Roadshow Pictures|Section Eight|Spring...,12/23/2005,5.2,2005
815,tt1412386,10000000,136836156,The Best Exotic Marigold Hotel,Bill Nighy|Maggie Smith|Tom Wilkinson|Judi Den...,John Madden,Share the journey. Share the laughter.,British retirees travel to India to take up re...,124,Drama|Comedy,Participant Media|Imagenation Abu Dhabi FZ,11/28/2011,6.8,2011
614,tt0489099,85000000,222231186,Jumper,Hayden Christensen|Jamie Bell|Samuel L. Jackso...,Doug Liman,anywhere is possible.,"David Rice is a man who knows no boundaries, a...",88,Adventure|Fantasy|Science Fiction,Dune Entertainment|Hypnotic|New Regency Pictures,2/10/2008,5.9,2008
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
1076,tt1433822,17000000,9627492,The Apparition,Ashley Greene|Sebastian Stan|Tom Felton|Julian...,Todd Lincoln,Once You Believe You Die,Plagued by frightening occurrences in their ho...,82,Horror|Thriller,StudioCanal|Dark Castle Entertainment|Warner B...,8/23/2012,4.4,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

In [5]:
# add profit column:
data.insert(3, 'profit', data.revenue - data.budget)

In [6]:
def spl(cell):
    # function to split multiple values in string to lists
    cell = cell.split('|')
    return cell


#removing problem symbols ()+ from production companies names
for i in data.index:
    data.production_companies[i] = data.production_companies[i]\
    .replace('(','_').replace(')','_').replace('+','_')

<ipython-input-6-0389be5e37d8>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.production_companies[i] = data.production_companies[i]\

In [7]:
data.sample(5)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1823,tt0181984,26000000,28780255,2780255,Boiler Room,Giovanni Ribisi|Vin Diesel|Nia Long|Tom Everet...,Ben Younger,Welcome to the new American dream.,A college dropout gets a job as a broker for a...,118,Crime|Drama|Thriller,New Line Cinema,2/18/2000,6.5,2000
1405,tt0318649,130000000,119269486,-10730514,Sahara,Matthew McConaughey|PenÃ©lope Cruz|Steve Zahn|...,Breck Eisner,Dirk Pitt. Adventure has a new name.,Scouring the ocean depths for treasure-laden s...,124,Action|Adventure|Comedy|Drama|Mystery,Paramount Pictures|Bristol Bay Productions|Bal...,4/6/2005,5.6,2005
67,tt3530002,25000000,52395996,27395996,The Night Before,Joseph Gordon-Levitt|Seth Rogen|Anthony Mackie...,Jonathan Levine,"Their past, present and future. All in one night.",In New York City for their annual tradition of...,100,Comedy,Sony Pictures|Point Grey Pictures|Good Universe,11/20/2015,6.1,2015
590,tt0166276,75000000,5409517,-69590483,Monkeybone,Brendan Fraser|Bridget Fonda|John Turturro|Chr...,Henry Selick,"If It Yells, If It Swings, It's Got To Be Monk...",After a car crash sends repressed cartoonist S...,93,Adventure|Fantasy|Animation|Action|Comedy,20th Century Fox|1492 Pictures,2/23/2001,4.0,2001
1757,tt0804522,27500000,24748670,-2751330,Rendition,Omar Metwally|Reese Witherspoon|Jake Gyllenhaa...,Gavin Hood,What if someone you love...just disappeared?,"When an Egyptian terrorism suspect ""disappears...",120,Drama|Thriller,Anonymous Content|Level 1 Entertainment|MID Fo...,9/7/2007,5.7,2007

# 1. У какого фильма из списка самый большой бюджет?

In [8]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [9]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [11]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [13]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [14]:
round(data.runtime.mean())

110

In [15]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [16]:
round(data.runtime.median())

107

In [17]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [19]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [21]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
len(data[data.profit > 0])

1478

In [23]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
data2008 = data[data.release_year == 2008]
data2008[data2008.profit == data2008.profit.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [25]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
years = [2012, 2013, 2014]
data_years = data[data.release_year.isin(years)]
data_years[data_years.profit == data_years.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2

In [27]:
data12_14 = data[(data.release_year >= 2012)
                 & (data.release_year <= 2014)]
data12_14[data12_14.profit == data12_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [28]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [29]:
genres = []

for genre in data.genres.apply(spl):
    genres.extend(genre)

genres = pd.Series(genres)
genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [30]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
profit_genres = []
for genre in data[data.profit > 0].genres.apply(spl):
    profit_genres.extend(genre)

profit_genres = pd.Series(profit_genres)
profit_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [32]:
answers['12'] = 'Drama'

ВАРИАНТ 2 (поиск жанра, который пропорционально чаще становится прибыльным)

In [33]:
profit_genres.value_counts().div(genres.value_counts(),
                                 fill_value=0).sort_values(ascending=False)

Documentary        0.875000
Family             0.869231
Animation          0.863309
Horror             0.852273
Fantasy            0.846847
Adventure          0.812048
Comedy             0.806735
Science Fiction    0.786290
Romance            0.785714
Action             0.762887
Thriller           0.748322
History            0.741935
Music              0.734375
Crime              0.733333
Drama              0.716113
Mystery            0.708333
War                0.706897
Western            0.631579
Foreign            0.000000
dtype: float64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
# list of all unique directors
directors = []
for director in data.director.apply(spl):
    directors.extend(director)
directors = pd.Series(directors).unique()

In [35]:
directors_revenue = pd.Series(0, directors)

for d in directors:
    directors_revenue[d] = data[data.director.str.contains(d)].revenue.sum()
directors_revenue.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

In [36]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
action_directors = []
for director in data[data.genres.str.contains('Action')].director.apply(spl):
    action_directors.extend(director)
action_directors = pd.Series(action_directors)
action_directors.value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Stephen T. Kay        1
Joe Wright            1
Peter Segal           1
Kurt Wimmer           1
David Leland          1
Length: 364, dtype: int64

In [38]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
# list of all unique actors
actors = []
for actor in data.cast.apply(spl):
    actors.extend(actor)
actors = pd.Series(actors).unique()

In [40]:
cast2012revenue = pd.Series(0, actors)

for actor in actors:
    cast2012revenue[actor] = data[(data.release_year == 2012)
                            & (data.cast.str.contains(actor))].revenue.sum()
cast2012revenue.sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Ron Eldard                     0
Desmond Harrington             0
Julianna Margulies             0
Gabriel Byrne                  0
Gregory Smith                  0
Length: 3406, dtype: int64

ВАРИАНТ 2

In [41]:
actors2012 = []
for i in data.cast.apply(spl)[data.release_year == 2012]:
    actors2012.extend(i)
actors2012 = pd.Series(actors2012)
actors2012 = actors2012.drop_duplicates()
actors2012 = pd.Series(0, index=actors2012)

for actor in actors2012.keys():
    for i, row in data[data.release_year == 2012].iterrows():
        if actor in row['cast']:
            actors2012[actor] += row['revenue']
actors2012.sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
                         ...
Michael Nyqvist          3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Length: 466, dtype: int64

In [42]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [43]:
expensive_actors = []
for actor in data[data.budget > data.budget.mean()].cast.apply(spl):
    expensive_actors.extend(actor)
expensive_actors = pd.Series(expensive_actors)
expensive_actors.value_counts()

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Eddie Murphy             15
                         ..
Jorma Taccone             1
James Kidnie              1
Nikolaj Coster-Waldau     1
Dan Fogler                1
William Atherton          1
Length: 1505, dtype: int64

In [44]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [45]:
nc_genres = []
for genre in data[data.cast.str.contains('Nicolas Cage')].genres.apply(spl):
    nc_genres.extend(genre)
nc_genres = pd.Series(nc_genres)
nc_genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

In [46]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
data_pp = data[(data.production_companies.str.contains('Paramount Pictures'))]
data_pp[data_pp.profit == data_pp.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [48]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
data.pivot_table('revenue', 'release_year').revenue.sort_values(
    ascending=False)

release_year
2015    2.156712e+08
2012    2.079189e+08
2014    1.934369e+08
2013    1.719541e+08
2010    1.672318e+08
2011    1.585790e+08
2009    1.546702e+08
2008    1.508494e+08
2003    1.494388e+08
2004    1.437012e+08
2007    1.397108e+08
2002    1.321155e+08
2005    1.265242e+08
2001    1.263861e+08
2000    1.184900e+08
2006    1.163389e+08
Name: revenue, dtype: float64

In [50]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
data[data.production_companies.str.contains('Warner Bros')].pivot_table(
    values='profit', index='release_year', aggfunc='sum')\
.profit.sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [52]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
months = data.release_date.apply(lambda x: x.split('/')[0])
months.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [54]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
months.value_counts()[['6','7','8']].sum()

450

In [56]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
data['release_month'] = months
winter_directors = []
for director in data[data.release_month.isin(['1', '2', '12'])].director\
        .apply(spl):
    winter_directors.extend(director)
winter_directors = pd.Series(winter_directors)
winter_directors.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Nancy Meyers         4
                    ..
Alexander Payne      1
Brian Taylor         1
Tommy Wirkola        1
Tyler Perry          1
Philip Kaufman       1
Length: 358, dtype: int64

In [58]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
companies = []
# making of DataFrame for production companies 
for company in data.production_companies.apply(spl):
    companies.extend(company)
companies = pd.Series(companies).unique()
companies = pd.DataFrame(companies, columns=['company'])
companies['title_lenght_max'] = 0

for i in companies.index:
    companies.title_lenght_max[i] = \
        data[data.production_companies.str.contains(companies.company[i])]\
        .original_title.str.len().max()

companies.sort_values(by='title_lenght_max', ascending=False)

<ipython-input-59-1f786cc0fa4b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies.title_lenght_max[i] = \

                                     company  title_lenght_max
1505                 Four By Two Productions                83
25    Twentieth Century Fox Film Corporation                83
674                    Twentieth Century Fox                83
451                              Walt Disney                62
406                                   Disney                62
...                                      ...               ...
1376                   Everest Entertainment                 3
158                     Berlanti Productions                 3
1296                         XM2 Productions                 2
953                       Ixtlan Productions                 2
955               Global Entertainment Group                 2

[1771 rows x 2 columns]

In [60]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
companies['overview_lenght_mean'] = 0

for i in companies.index:
    companies.overview_lenght_mean[i] \
        = data[data.production_companies.str.contains(companies.company[i])]\
        .overview.str.split(' ').str.len().mean()

companies.sort_values(by='overview_lenght_mean', ascending=False)

<ipython-input-61-9a479f850e1f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies.overview_lenght_mean[i] \

,company,title_lenght_max,overview_lenght_mean
950,Midnight Picture Show,23,175
1445,Room 9 Entertainment,21,161
1232,Heineken Branded Entertainment,19,161
1141,98 MPH Productions,10,159
1039,Brookwell-McNamara Entertainment,11,156
...,...,...,...
685,Henceforth,16,13
687,London Boulevard,16,13
686,Projection Pictures,16,13
1144,Motion Picture Corporation of America,9,11
816,Empire Pictures,7,11

In [62]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
data.sort_values('vote_average', ascending=False)\
    .original_title[:int(len(data)/100)]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

In [64]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [65]:
actor_pairs = []
for actor in actors:
    for cast in data.cast.apply(spl):
        if actor in cast:
            for i in cast:
                if actor == i:
                    continue
                else:
                    pair = [actor, i]
                    actor_pairs.append(pair)
                
actor_pairs = pd.Series(actor_pairs)
actor_pairs = actor_pairs.apply(lambda x: '|'.join(x))
actor_pairs.value_counts()

Emma Watson|Rupert Grint             8
Daniel Radcliffe|Rupert Grint        8
Daniel Radcliffe|Emma Watson         8
Emma Watson|Daniel Radcliffe         8
Rupert Grint|Daniel Radcliffe        8
                                    ..
Raven-SymonÃ©|Kyla Pratt             1
Elizabeth Olsen|Samuel L. Jackson    1
Melissa Leo|Jake Gyllenhaal          1
Jennifer Jason Leigh|Liam Aiken      1
Kat Dennings|Aaron Yoo               1
Length: 35884, dtype: int64

In [66]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [68]:
# и убедиться что ни чего не пропустил)
len(answers)

27